<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color:tomato;
            }
        </style>
    </head>

<body>
<div id="navigation">

    
        <a href="/">Home</a> |
        <a href="/blog">Doggy Bloggy</a> |
        <br><br>
        <a href="/newpost">Write a Puppy Post</a> |
        <a href="/signup">Sign-up</a> |
        <br><br>
        <a href="/login">Login</a> |
        <a href="/logout">Logout</a> |
    
</div>

<div>
    {% block content %}
    {% endblock %}
</div>

</body>
</html>