{% extends 'base.html' %}

{% block content %}

<h2>Build-a-Doggy-Bloggy</h2>
<div class="blogs">

{% if blog|length == 0 %}
    <p> No new doggy bloggy, yet. <a href="/newpost">Write a puppy post!</a></p>

{% else %}
    {% for post in blog %}
        <h3><a href="/blog?id={{post.id}}">{{post.title}}</a></h3>
        <p>{{post.content}}</p>
        <p id="author">Pawthored by <a href="blog?user={{post.owner.id}}">{{post.owner.username}}</a></p>
    {% endfor %}
{% endif %}
</div>
{% endblock %}